name: Build django-gpg-keys-manager

on:
  push:
    branches: ["main"]
    tags: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install uv
      run: curl -LsSf https://github.com/astral-sh/uv/releases/latest/download/uv-installer.sh | sh

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version-file: pyproject.toml

    - name: Install dependencies
      run: uv sync

    - name: Build package
      run: uv build

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-${{ matrix.os }}
        path: dist/**

  publish:
    name: Publish package to PyPI
    needs: build
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: dist
        pattern: build-*
        merge-multiple: true

    - name: Install uv
      run: curl -LsSf https://github.com/astral-sh/uv/releases/latest/download/uv-installer.sh | sh

    - name: Remove non-release files
      shell: python
      run: |
        from pathlib import Path
        for path in Path("dist").iterdir():
            if not path.name.endswith((".whl", ".tar.gz")):
                print(f"Removing {path.name}")
                path.unlink()

    - name: Publish package to PyPI
      run: uv publish
